models/
!/InstanSeg/utils/models/
InstanSeg/datasets/
InstanSeg/examples/
!/InstanSeg/examples/HE_example.tif
InstanSeg/tensorboard_logs/
logs/
InstanSeg/scripts/experiment.sh
InstanSeg/torchscripts/
InstanSeg/bioimageio_models/
notebooks/scratch.ipynb
InstanSeg.egg-info/
Raw_Datasets/
.DS_Store
.Trashes
Thumbs.db
__pycache__/
*.py[cod]
*$py.class
*.log
.ipynb_checkpoints
*.json
**/__pycache__/
**/.vs/
*.pyc
**/.idea/
*.geojson
InstanSeg/utils/models/patch_classifier/
*.pth
InstanSeg/utils/models/bash.sh
Raw_Datasets
