models/
!/instanseg/utils/models/
instanseg/datasets/
instanseg/examples/*
!instanseg/examples/
!instanseg/examples/HE_example.tif
!instanseg/examples/Fluorescence_example.tif
instanseg/tensorboard_logs/
logs/
instanseg/scripts/experiment.sh
instanseg/torchscripts/
instanseg/bioimageio_models/
notebooks/scratch.ipynb
notebooks/per_sample_scale_range.ijm
instanseg.egg-info/
Raw_Datasets/
.DS_Store
.Trashes
Thumbs.db
__pycache__/
*.py[cod]
*$py.class
*.log
.ipynb_checkpoints
*.json
**/__pycache__/
**/.vs/
*.pyc
**/.idea/
*.geojson
instanseg/utils/models/patch_classifier/
*.pth
instanseg/utils/models/bash.sh
Raw_Datasets
instanseg/bio_2_delete/
dist/
